version: '3.8'

services:
  api-gateway:
    build: ./api-gateway
    container_name: smartqueue-api
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=development
      - PORT=4000
    restart: unless-stopped

  mongodb:
    image: mongo:6
    container_name: smartqueue-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    restart: unless-stopped
